* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Главный блок */

* {
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: rgb(191, 243, 191);
}

.header__buttons {
    display: none;
}

.nav {
    display: none;
}

/* конец главного блока */



/* начало первого блока */

.header {
    background: linear-gradient(113.49deg, #1c6e29 -50%, #070704 130%) no-repeat;

    margin: 0 auto;
    display: block;
    align-items: center;
    padding: 20px 15px 20px 15px;
}

.header__glav {
    max-width: screen;
    height: 40px;
    justify-content: space-between;
    display: flex;
}

.header__logo {
    width: 95px;
    height: 30px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    padding: 10px 10px;
    padding-top: 7px;
    background-color: white;
}

.form {
    position: relative;
}

.form__button {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../images/search.png);
    background-color: transparent;
    border: none;
    position: absolute;
    top: calc(50% - 10px);
    left: 10px;
}

.header__list {
    padding-top: 10px;
    display: flex;
    list-style-type: none;
    gap: 40px;
    left: -15px;
    padding-left: 0px;
}

.header__link {
    color: white;
    text-decoration: none;
}

.form__input {
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    color: white;
}

.form__input::placeholder {
    color: rgba(255, 255, 255, 0.8)
}

.form__input:focus {
    outline: none;
}

/* конец первого блока */



/* второй блок */

.section {
    height: 700px;
}


.container {
    max-width: screen;
    margin: 0;
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-top: 40px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main__text {
    display: block;
    width: px;
    height: 300px;
}

.main__image {
    display: block;
    width: 315px;
    height: 500px;
}

.main__image__2 {
    display: none;
}

.main__img {
    width: 155px;
    height: px;
}

.main__desc {
    font-size: 20px;
    line-height: 1.5;
    color: black;
}

.main__title {
    font-size: 20px;
    font-weight: 30px;
    line-height: 1.1;
    color: black;
}

/* конец второго блока */



/* второй блок (бальзамы, травы, сборы, масла)*/


.container__bal {
    display: inline;
    justify-content: start;
}

.main__bal {
    display: flex;
    justify-content: space-between;
}

.main__text__bal {
    display: flex;
    height: 50px;
    width: 300px;
}

.main__img__bal {
    width: 256px;
    height: 346px;
}

.main__title__bal {
    font-size: 15px;
    font-weight: 300px;
    line-height: 1.1;
    color: black;
}

.main__card__bal {
    vertical-align: top;
    display: inline-block;
    border: 2px solid green;
    padding: 20px;
    border-radius: 30px;
    width: 30%;
    margin-top: 25px;
    margin-left: 25px;
}

.main__card__bal:hover {
    background-color: aliceblue;
}

.main__title__kont {
    margin-top: 50px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 1000px;
    line-height: 1.1;
    color: black;
    width: 700px;
}

/* конец второго блока (бальзамы, травы, сборы, масла)*/



/* Медиа */
@media screen and (max-width: 1200px) {
    .main__text {
        height: 400px;
        width: 600px;
    }

    .main__card__bal {
        border: 1px solid green;
        padding: 15px;
        border-radius: 20px;
    }

    .form__input {
        width: 250px;
    }
}

@media screen and (max-width: 992px) {
    .main__text {
        height: 300px;
        width: 350px;
    }

    .header__list {
        gap: 20px;
    }

    .form__input {
        width: 200px;
        padding: 10px 15px;
    }

    .main__card__bal {
        border: 1px solid green;
        padding: 15px;
        border-radius: 20px;
        width: 290px;
    }

    .form__button {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .container__bal {
        display: block;
        justify-content: center;
        max-width: screen;
        margin: 0;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .container {
        display: block;
        justify-content: center;
        max-width: screen;
        margin: 0;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .form {
        display: none;
    }

    .form__input {
        width: 200px;
        padding: 10px 15px;
    }

    .form__button {
        display: none;
    }

    .header__list {
        display: none;
    }

    .main__image {
        display: none;
    }

    .main__bal {
        display: inline;
        justify-content: center;
    }

    .main__card__bal {
        border: 1px solid green;
        padding: 15px;
        border-radius: 20px;
        width: 250px;
    }

    .main__image__2 {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .container__bal {
        display: block;
        justify-content: center;
        max-width: screen;
        margin: 0;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .main__card__bal {
        border: 1px solid green;
        padding: 10px;
        border-radius: 20px;
        max-width: screen;
    }

    .main__title__bal {
        font-size: 15px;
    }
}

@media screen and (max-width: 320px)
 {
   .main__text {
       height: 400px;
       width: 600px;
   }

   .main__card__bal {
       border: 1px solid green;
       padding: 15px;
       border-radius: 20px;
   }

   .form__input {
       width: 250px;
   }
}

@media screen and (max-width: 992px) {
   .main__text {
       height: 300px;
       width: 350px;
   }

   .header__list {
       gap: 20px;
   }

   .form__input {
       width: 200px;
       padding: 10px 15px;
   }

   .main__card__bal {
       border: 1px solid green;
       padding: 15px;
       border-radius: 20px;
       width: 290px;
   }

   .form__button {
       display: none;
   }
}

@media screen and (max-width: 768px) {
   .container__bal {
       display: block;
       justify-content: center;
       max-width: screen;
       margin: 0;
       padding-left: 0px;
       padding-right: 0px;
       padding-bottom: 0px;
       padding-top: 0px;
   }

   .form {
       display: none;
   }

   .container {
       justify-content: space-between;
   }

   .form__input {
       width: 200px;
       padding: 10px 15px;
   }

   .form__button {
       display: none;
   }

   .header__list {
       display: none;
   }

   .main__image {
       display: none;
   }

   .main__bal {
       display: inline;
       justify-content: center;
   }

   .main__card__bal {
       border: 1px solid green;
       padding: 15px;
       border-radius: 20px;
       width: 250px;
   }

   .main__image__2 {
       display: block;
   }
}

@media screen and (max-width: 480px) {
   .container__bal {
       display: block;
       justify-content: center;
       max-width: screen;
       margin: 0;
       padding-left: 0px;
       padding-right: 0px;
       padding-bottom: 0px;
       padding-top: 0px;
   }

   .main__card__bal {
       border: 1px solid green;
       padding: 10px;
       border-radius: 20px;
       max-width: screen;
   }

   .main__title__bal {
       font-size: 15px;
   }
}

@media screen and (max-width: 320px) {}

/* Конец медиа */